@import '../../styles/variables.scss';
@import '../../styles/_buttons.scss';

.productForm {
	small {
		display: block;
	}

	form {
		margin: 0 auto;
	}

	fieldset {
		margin-bottom: 1.5rem;
	}

	input {
		border: 1px solid #ddd;
		padding: 0.6rem;
		background-color: #fff;
	}

	label {
		display: block;
	}
}

.productFormButtons {
	display: flex;
	justify-content: space-between;
	margin: 0 -5px;
}

.productFormRemove {
	@extend .red;
}
.productFormSave {
	@extend .blue
}

.productFormRemove,
.productFormSave {
	@extend .button;
	width: 100%;
	margin: 0 5px;
	padding: 0.6rem 1rem;
	border-radius: 0.2rem;
	outline: none;
}
