@import '../../styles/variables.scss';

.skCubeGrid {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.skCubeGrid .skCube {
  width: 33%;
  height: 33%;
  background-color: $iz-blue;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.skCubeGrid .skCube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.skCubeGrid .skCube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.skCubeGrid .skCube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.skCubeGrid .skCube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.skCubeGrid .skCube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.skCubeGrid .skCube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.skCubeGrid .skCube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.skCubeGrid .skCube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.skCubeGrid .skCube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
  } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
  } 35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
