@import '../../styles/variables.scss';
@import '../../styles/vendor/bootstrap/bootstrap-grid';
@import '../../styles/_buttons.scss';

.productImage {
	border-radius: 100%;
	width: 4.2rem;
	height: 4.2rem;
	border: 3px solid $iz-white;
	box-shadow: 0px 5px 8px $iz-gray-shadow;
	background: $iz-dark-gray;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.inner {
	display: flex;
	align-items: center;
	padding: 1.2rem 0 0.8rem 0;
	min-height: 6.67rem;
	border-top: 1px solid $iz-light-gray;
}

.productItemEdit {
	@extend .button;
	@extend .blue;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 1rem;
		height: 1rem;
	}
}
