@import '../../styles/variables.scss';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(39, 46, 49, .7);
	z-index: 20;
}

.content {
	position: absolute;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 500px;
	background: #fff;
	overflow: auto;
	WebkitOverflowScrolling: touch;
	outline: none;
	padding: 3rem 5rem;
	box-shadow: 5px 5px 0 rgba(0,0,0,.06);
}

.closeModal {
	color: $iz-dark-gray;
	font-size: 30px;
	top: 20px;
	right: 20px;
	position: absolute;
	z-index: 22;
}

.productImageDropZone {
	background-color: $iz-dark-gray;
	overflow: hidden;
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
	position: relative;
	border-radius: 10rem;
	border: 3px solid $iz-white;
	box-shadow: 0px 5px 8px $iz-gray-shadow;
	transition: background 0.1s;
	text-align: center;
	color: #fff;
	margin-bottom: 3rem;

	> div{
		width: 100%;
		height: 100%;
		position: absolute;

	}

	&.uploadcare-dragging {
		background: $iz-semidark-green;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
