@import '../../styles/variables.scss';
@import '../../styles/_buttons.scss';

.productListWrap {
	background-color: $iz-white;
	max-width: $iz-container;
	margin: 0 auto;
	box-shadow: 5px 5px 0 rgba(0,0,0,.06);
}

.productListHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 2rem;
	margin-bottom: 2.5rem;
	border-bottom: 1px solid $iz-light-gray;
}

.productList {
	padding: 0 2rem;
	margin: 0;
}

.addProduct {
	@extend .button;
	@extend .blue;
	padding: 0.6rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.2rem;
}

.addProductIcon {
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.5rem;
}
