@import '../../styles/variables.scss';

.header {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
	z-index: 10;
	background-color: #fff;
	color: #606466;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0 15px;
}

.headerInner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 80px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: $iz-container;
}

.headerLogo {
	display: flex;
	max-width: 100px;
}
