@font-face {
  font-family: 'Zent';
  src:
    url('/fonts/Zent-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Zent-Bold.woff') format('woff'),
    url('/fonts/Zent-Bold.ttf') format('truetype'),
    url('/fonts/Zent-Bold.svg#Zent-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
