// Base sizes
$iz-container: 1340px;

// Base colors
$iz-white: #ffffff;
$iz-light-gray: #eceeef;
$iz-mid-gray: #eceeef;
$iz-semidark-gray: #bdbebf;
$iz-dark-gray: #272e31;

// Accent colors
$iz-blue: #1a9fe2;
$iz-dark-blue: #0384c4;
$iz-semidark-blue: #1890cc;
$iz-green: #40c25e;
$iz-semidark-green: #40c25e;
$iz-red: #ff571a;
$iz-semidark-red: #cf4500;

// Shadows
$iz-gray-shadow: rgba(0, 0, 0, 0.15);
