@import '../../styles/variables.scss';
@import '../../styles/vendor/bootstrap/bootstrap-grid';

.productListHeader {
	margin-bottom: 1rem;
}

.productListHeaderItem {
	color: $iz-semidark-gray;
	text-transform: uppercase;
	font-size: 0.8rem;

	&:last-of-type {
		text-align: right;
	}
}
